<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">

  <link rel="apple-touch-icon" sizes="57x57" href="/media/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/media/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/media/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/media/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/media/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/media/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/media/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/media/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/media/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
  <meta name="msapplication-tilecolor" content="#ffffff">
  <meta name="msapplication-tileimage" content="/media/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.rawgit.com/resir014/Clear-Sans-Webfont/v1.1.1/css/clear-sans.css">

  <script type="module" src="http://localhost:3000/@vite/client"></script>
  <script type="module" src="http://localhost:3000/resources/js/app.js"></script>

  <title>TourismusNETZ/oBu</title>
</head>
<body class="overflow-hidden h-screen">
  <div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
    <div class="max-w-max mx-auto">
      <main class="sm:flex">
        <p class="text-4xl font-extrabold text-indigo-600 sm:text-5xl">401</p>
        <div class="sm:ml-6">
          <div class="sm:border-l sm:border-gray-200 sm:pl-6">
            <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Page not found</h1>
            <p class="mt-1 text-base text-gray-500">Please check the URL in the address bar and try again.</p>
          </div>
          <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
            <a href="#" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Go back home
            </a>
            <a href="#" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Contact support
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
